@model FootStance.Models.MusicReviewDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MusicReviewDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MusicReviewId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusicReviewId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusicTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusicTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusicGenreType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusicGenreType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusicStance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusicStance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusicRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusicRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MusicReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
